.sign-in-container {
    margin: auto;
    max-width: 600px;

    ion-list {
        padding-right: 10px;
    }
}

.buttons {
    padding: 0 10px;
    display: flex;

    ion-button {
        flex-grow: 1;
    }
}

#fetching {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}