<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="feedback-container">
      <ion-textarea
      [value]="comment | async"
      [disabled]="feedbackPosting | async"
      (keyup)="changeComment($event.target.value)"
      autofocus
      placeholder="How was your experience using the app?"
      rows="8">
    </ion-textarea>
    <ion-button
      [disabled]="disableSend | async"
      expand="block"
      (click)="sendFeedback()">
      Send Feedback
    </ion-button>
  </div>
</ion-content>