// app-trip-info {
//     height: 400px;
//     display: flex;
//     height: 100%;
//     width: 100%;
//     flex-direction: column;
// }

#trip-info-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;

    app-google-map, #placeholder {
        width: 100%;
        min-height: 80px;
        height: 50%;
        flex-grow: 1;
        background-color: #E5E3DF;
    }
}