<ion-header>
  <ion-toolbar>
    <ion-title>Trip Details</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="trip-info-container">
      
      <app-google-map 
        *ngIf="showMap; else placeholder"
        [fullscreenControl]="false"
        [trip]="trip | async">
      </app-google-map>
      <ng-template #placeholder>
          <div id="placeholder"></div>
      </ng-template>

      <app-trip-info [trip]="trip | async"></app-trip-info>
      <ion-button expand="block" (click)="bookTrip()" [disabled]="bookTripFetching | async">
          <span id="book-trip" *ngIf="!(bookTripFetching | async); else fetching">Book this trip</span>
          <ng-template #fetching>
              <span id="book-trip-fetching">Booking your trip...</span>
          </ng-template>
      </ion-button>
    </div>
</ion-content>
