ion-col {
    display: flex;
    flex-direction: column;
}

ion-text {
    text-align: center;
}

#fetching {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}