<ion-grid>
  <ion-row>
    <ion-col size="3" class="no-right-padding" id="departure-time">{{ trip.departureTime | date:"h:mm a" }}</ion-col>
    <ion-col size="1" class="center-icons"><img src="assets/imgs/pin.svg" alt=""></ion-col>
    <ion-col size="8" class="no-right-padding bold-text" id="origin-address">{{ trip.originAddress }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="no-right-padding"></ion-col>
    <ion-col size="1" class="center-icons">
      <div class="dot-container">
          <img src="assets/imgs/walk-dot.svg" alt="">
          <img src="assets/imgs/walk-dot.svg" alt="">
          <img src="assets/imgs/walk-dot.svg" alt="">
      </div>
    </ion-col>
    <ion-col size="8" class="no-right-padding">
        <ion-row class="travel-instructions">
          <ion-col size="1"><ion-icon name="walk"></ion-icon></ion-col>
          <ion-col>
              <div id="walking-1-time">Walk {{ trip.walking1Directions.seconds | time }}</div>&nbsp;<div id="walking-1-distance">({{ trip.walking1Directions.feet | distance }})</div>
          </ion-col>
        </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="no-right-padding" id="start-reservation-time">{{ trip.startReservation.time | date:"h:mm a" }}</ion-col>
    <ion-col size="1" class="center-icons station-icon">
      <img id="station-1" src="assets/imgs/station.svg" alt="">
    </ion-col>
    <ion-col size="5" class="no-right-padding">
      <ion-text class="bold-text">Pick up bike</ion-text><br>
      <ion-text class="light-text" id="start-reservation-address">{{ trip.startReservation.station.address }}</ion-text>
    </ion-col>
    <ion-col size="3" class="ion-text-end" id="start-reservation-price">
      <ion-text [color]="textColor(trip.startReservation.price)">{{ trip.startReservation.price | currency }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="no-right-padding"></ion-col>
    <ion-col size="1" class="center-icons">
      <div id="bicycling-line"></div>
    </ion-col>
    <ion-col size="5" class="no-right-padding">
      <ion-row class="travel-instructions bike">
        <ion-col size="1"><ion-icon name="bicycle"></ion-icon></ion-col>
        <ion-col>
            <div id="bicycling-time">Ride {{ trip.bicyclingDirections.seconds | time }}</div>&nbsp;<div id="bicycling-distance"> ({{ trip.bicyclingDirections.feet | distance }})</div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3" class="ion-text-end" id="rental-price">
      <ion-text [color]="textColor(trip.rentalPrice)">{{ trip.rentalPrice | currency }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="no-right-padding" id="end-reservation-time">{{ trip.endReservation.time | date:"h:mm a" }}</ion-col>
    <ion-col size="1" class="center-icons station-icon">
      <img id="station-1" src="assets/imgs/station.svg" alt="">
    </ion-col>
    <ion-col size="5" class="no-right-padding">
        <ion-text class="bold-text">Drop off bike</ion-text><br>
        <ion-text class="light-text" id="end-reservation-address">{{ trip.endReservation.station.address }}</ion-text>
    </ion-col>
    <ion-col size="3" class="ion-text-end no-left-padding" id="end-reservation-price">
      <ion-text [color]="textColor(trip.endReservation.price)">{{ trip.endReservation.price | currency }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="time-col"></ion-col>
    <ion-col size="1" class="center-icons">
      <div class="dot-container">
        <img src="assets/imgs/walk-dot.svg" alt="">
        <img src="assets/imgs/walk-dot.svg" alt="">
        <img src="assets/imgs/walk-dot.svg" alt="">
      </div>
    </ion-col>
    <ion-col size="8" class="no-right-padding">
      <ion-row class="travel-instructions">
        <ion-col size="1"><ion-icon name="walk"></ion-icon></ion-col>
        <ion-col>
          <div id="walking-2-time">Walk {{ trip.walking2Directions.seconds | time }}</div>&nbsp;<div id="walking-2-distance">({{ trip.walking2Directions.feet | distance }})</div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="no-right-padding" id="arrival-time">{{ trip.arrivalTime | date:"h:mm a" }}</ion-col>
    <ion-col size="1" class="center-icons"><img src="assets/imgs/pin.svg" alt=""></ion-col>
    <ion-col size="8" class="no-right-padding bold-text" id="destination-address">{{ trip.destinationAddress }}</ion-col>
  </ion-row>
  <ion-row id="bottom-row">
    <ion-col size="3" class="no-right-padding" id="total-duration">{{ trip.totalDuration | time }}</ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="2" class="no-right-padding" id="total-distance">{{ trip.totalDistance | distance }}</ion-col>
    <ion-col size="6" class="ion-text-end" id="total-price">
      <ion-text class="bold-text">{{ priceMessage }}:</ion-text>&nbsp;
      <ion-text [color]="textColor(trip.totalPrice)">{{ trip.totalPrice | currency }}</ion-text></ion-col>
  </ion-row>
</ion-grid>