<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <div id="column">
      <div id="search-form">
          <ion-item-group>
            <ion-item button id="origin" detail (ionFocus)="navigateToAddressInput('Origin')">
              <ion-label>Origin</ion-label>
              <ion-input readonly placeholder="Enter Origin" [value]="originAddress | async"></ion-input>
            </ion-item>
            <ion-item button id="destination" detail (ionFocus)="navigateToAddressInput('Destination')">
              <ion-label>Destination</ion-label>
              <ion-input readonly placeholder="Enter Destination" [value]="destinationAddress | async"></ion-input>
            </ion-item>
            <div ion-item id="time-container">
              <ion-select
                [value]="selectOptionValues[0]"
                (ionChange)="timeTargetChange($event)"
                interface="action-sheet"
                class="ion-float-left">
                <ion-select-option [value]="selectOptionValues[0]">{{ selectOptionValues[0].display }}</ion-select-option>
                <ion-select-option [value]="selectOptionValues[1]">{{ selectOptionValues[1].display }}</ion-select-option>
              </ion-select>
              <ion-datetime padding-end
                [value]="timeString | async"
                (ionChange)="timeChange($event)"
                displayFormat="h:mm A MMM DD"
                class="ion-float-right">
              </ion-datetime>
            </div>
          </ion-item-group>
      </div>
      <div id="map-mobile" class="map-container">
          <ng-container *ngTemplateOutlet="map"></ng-container>
      </div>
      
      <div id="button">
        <ion-button color="secondary" expand="full" [disabled]='rentalButtonDisabled | async' (click)="findBikeRentals()">
            <span *ngIf="!(searchQueryFetching | async); else fetching">Find bike rentals</span>
            <ng-template #fetching>
                <span>Finding your best route...</span>
            </ng-template>
        </ion-button>
      </div>
      <div id="whitespace"></div>
    </div>
    <div id="map-desktop" class="map-container">
        <ng-container *ngTemplateOutlet="map"></ng-container>
    </div>
  </div>
</ion-content>

<ng-template #map>
    <div id="spinner-overlay" *ngIf="showSpinner | async">
        <ion-spinner id="spinner"></ion-spinner>
    </div>
    <app-google-map id="map"
      id="map"
      [center]="position | async"
      [stations]="stations | async"
      [originLatLng]="originLatLng | async" 
      [destinationLatLng]="destinationLatLng | async">
    </app-google-map>
    <ng-template #placeholder>
        <div id="placeholder"></div>
    </ng-template>
</ng-template> 