<ion-card button='true'>
    <div class="map">
        <app-google-map
          [trip]="trip"
          [zoomControl]="false"
          [fullscreenControl]="false"
          [gestureHandling]="'none'"></app-google-map>
      </div>
  <ion-card-content>
    <h4>
      <span class="title">Completed Trip</span>
      <span class="miles-minutes">{{ trip.totalDistance | distance }} &#8226; {{ trip.totalDuration | time }}</span>
    </h4>
    <p>
      <span class="date-time">{{ trip.departureTime | date: 'M/yy' }} {{ trip.departureTime | date:'h:mm a'}} - {{ trip.arrivalTime | date:'h:mm a'}}</span>
      <span class="price">{{ trip.totalPrice | currency }}</span>
    </p>
    <div id="button-container" *ngIf="isUpcoming()">
      <ion-button id="scan-button" [disabled]="!isReadyForScan()">
        Scan Code
        <ion-icon slot="start" name="qr-scanner"></ion-icon>
      </ion-button>
  
      <ion-button color="danger" id="cancel-button">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>      
    </div>
    
  </ion-card-content>
</ion-card>
